*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddd;
}
.login
{
    width: 300px;
    padding: 40px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #000000;
    text-align: center;
    box-shadow: 0px 20px 20px red, 20px -10px 40px blue, -20px 30px 20px yellow;
    border-radius: 60px 20px;
}
.login h1
{
    background: none;
    color: #fff;
    font-weight: 900;
    
}
.login input{margin-top: 20px;}
.login input[type= "text"], .login input[type= "password"]
{
    outline: none;
    color: #fff;
    background: none;
    border: 2px solid blue;
    align-items: ;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 0;
    text-align: center;
    border-radius: 24px;
    
    
}
.login input[type= "text"]:focus, .login input[type= "password"]:focus
{
    padding-left:30px;
    padding-right:30px;
    border-color: red;
    transition: 0.8s;
}
.login input[type= "submit"]
{
    outline: none;
    color: #fff;
    background: none;
    border: 2px solid blue;
    margin: 20px auto;
    padding: 14px 10px;
    display: block;
    text-align: center;
    border-radius: 24px;
    transition: 1s;
}
.login input[type= "submit"]:hover
{
    background: red;
    border-color: red;
}
